In [1]:
import pandas as pd
df = pd.read_csv("data/interviews.csv")

df.head()

,Company,Title,Job,Level,Date,Upvotes,Offer,Experience,Difficulty,Review
0,Apple,Software Engineer,Software Engineer,Engineer,"Aug 7, 2019",0,No offer,0.0,Medium,Application I applied through a staffing agen...
1,Apple,Software Engineer,Software Engineer,Engineer,"Aug 8, 2019",0,Accepted offer,1.0,Hard,Application I applied online. The process too...
2,Apple,Software Engineer,Software Engineer,Engineer,NaN,0,Declined offer,0.0,Medium,Application The process took 4 weeks. I inter...
3,Apple,Software Engineer,Software Engineer,Engineer,NaN,9,Declined offer,-1.0,Medium,Application The process took a week. I interv...
4,Apple,Software Engineer,Software Engineer,Engineer,"May 29, 2009",2,No offer,0.0,Medium,Application I applied through an employee ref...

## 1. pandas is column-major

### 1.1. For each row, calculate the multiplication of `Experience` and `Upvotes` in the following ways:

1. Using `iterrows`
2. Using `itertuples`
3. Using `to_numpy`
4. Using row-wise `apply` (`apply(axis=1)`)
5. Using vectorized operations

How long does each method take?

In [2]:
# TODO your code here

### 1.2. We want to fetch all reviews that had at least two upvotes. What is the fastest why to do so?

In [3]:
# TODO your code here

## 2. SettingWithCopyWarning

### 2.1 In one chained operation (one line), change all rows that have company name 'Apple' to 'Banana', **without raising SettingWithCopyWarning**

In [4]:
# TODO your code here

## 3. Accessors

### 3.1 Use pandas' `str` accessor to calculate the number of characters in each review.

In [5]:
# TODO your code here

### 3.2 Use pandas' `str` accessor to find out which reviews had an online part.

In [6]:
# TODO your code here

### 3.3 Use pandas' `dt` accessor to find out the name of month in which each interview took place.

In [7]:
# TODO your code here

## 4. GroupBy

### 4.1 Using a single groupby-aggregate operation, find out the mean and std of 'Experience', and the median of 'Upvotes' per company.

In [8]:
# TODO your code here

### 4.2 Use a GroupBy on multiple columns to calculate the mean of the 'Upvotes' for each company in each experience level

In [9]:
# TODO your code here

## 5. Windowing Operations

### 5.1 Use `groupby` and `rolling`  to find out the sum of upvotes given in each week for each company

In [10]:
# TODO your code here

## 6. Combining data from multiple tables

### 6.1 Use `merge` and then `groupby` to find out for each interview how many more interviews were conducted in the same month, to the same company, and for the saem title. Put it in a new column called 'NumSimilars'.

In [11]:
# TODO your code here

## 7. Plotting with Pandas

### 7.1. Plot the output of exercise 4.2 (the mean of the 'Upvotes' for each company in each experience level) using the built-in matplotlib plotting.

In [12]:
# TODO your code here

### 7.2 Now plot it using `pandas_bokeh`

In [13]:
# TODO your code here

## 8. GeoPandas

In [14]:
import geopandas as gpd
countries = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))
cities = gpd.read_file(gpd.datasets.get_path("naturalearth_cities"))

In [15]:
countries.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [16]:
cities.head()

           name                   geometry
0  Vatican City  POINT (12.45339 41.90328)
1    San Marino  POINT (12.44177 43.93610)
2         Vaduz   POINT (9.51667 47.13372)
3    Luxembourg   POINT (6.13000 49.61166)
4       Palikir  POINT (158.14997 6.91664)

### 8.1. For each city, find the city closest to it (which is not itself of course), and calculate the distance between them in meters.

In [17]:
# TODO your code here

### That's it! Truly, you are now a Pandas master!